#loading {
  text-align: center;
}

#root {
  padding: 5em;
  /* background-color: #f9f9f9; */
}

.header {
  text-align: center;
}

.title {
  color: rgb(20, 37, 51);
  font-family: Inter, Arial;
  font-weight: 600;
  font-style: normal;
  font-size: 2em;
}

.subtitle {
  color: rgb(20, 37, 51, 0.7);
  font-family: Inter, Arial;
  font-weight: 500;
  font-style: normal;
  font-size: 1.4em;
}

.allowance-table {
  background: #fff;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 3%);
  border: 1px solid rgba(20, 37, 51, 0.1);
  border-radius: 4px;
  border-collapse: separate;
  table-layout: auto;
  width: 100%;
}

.allowance-table > thead {
  background-color: rgba(20, 37, 51, 0.02);
}

.allowance-table > thead th {
  padding: 10px 20px;
  font-family: Inter, Arial;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  color: rgba(20, 37, 51, 0.5);
  border-bottom: 1px solid rgba(20, 37, 51, 0.1);
}

.allowance-table > tbody td {
  padding: 16px 20px;
  font-family: Inter, Arial;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  color: rgb(20, 37, 51);
}

.button {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
  color: rgba(20, 37, 51, 0.6);
  background-color: transparent;
  font-size: 12px;
  font-family: Inter, Arial;
  font-weight: 600;
  font-style: normal;
  border: none;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
  height: 34px;
  outline: none;
}

.button--red {
  background: #ea2e49;
  color: #ffffff;
}

.text--red {
  color: #ea2e49;
}
